/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container-50 {width: 50%; margin: 0 auto;}
.container-60 {width: 60%; margin: 0 auto;}
.container-70 {width: 70%; margin: 0 auto;}
.container-80 {width: 80%;margin: 0 auto;}

.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Lista */
.list-style {
    list-style: none;
}
.list-style > li {
    display: inline-block;
    padding: 0 15px;
}
.list-style li > a {
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.text-center {
    text-align: center;
}

/* width */
.w-10 {width: 10%;}
.w-20 {width: 20%;}
.w-40 {width: 40%;}
.w-50 {width: 50%;}
.w-100 {width: 100%;}

/* Colors */
.bg-blue {
    background-color: #0c325a;
}
.bg-grey {
    background-color: #d3d3d3;
}
.c-white {
    color: white;
}

/* Bottoni */
.btn {
    padding: 8px 25px;
    border: 1px solid white;
    border-radius: 5%;
}
.btn.green {
    background-color: #7cbb02;
    border: 1px solid #7cbb02;
}
.btn.lg.green {
    padding: 20px 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}
/* Bottoni hover */
.btn:hover,
.btn.lg.green:hover {
    background-color: white;
    color: #7cbb02;
}

/* Fonts */
h2 {
    font-size: 28px;
    padding: 20px 0;
}

h3 {
    margin: 20px 0;
}

p {
    color: grey;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
}

.small-text {
    font-size: 16px;
    font-weight: 400;
}

/* Header */
header {
    height: 600px;
    background-image: url("../img/background-header.png");
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: right bottom;
}

/* Header - Logo */
#logo {
    height: 80px;
    line-height: 70px;
}

#logo > img {
    vertical-align: middle;
}

/* Header - Nav */
nav {
    height: 80px;
    line-height: 80px;
}

#login {
    height: 80px;
    line-height: 80px;
    text-align: right;
}

/* Header - Jumbotron */
#jumbotron {
    height: 520px;
}

h1 {
    font-size: 3em;
    margin-bottom: 40px;
}

.rel-pos {
    position: relative;
}
.jambotron-text {
    position: absolute;
    top:50%;
    left: 0;
    transform: translate(0 , -50%);
}

/* Main - Titolo */
.main-title > h2 {
   padding: 30px 0 15px 0;
}

 /* Main - Sezione a tre colonne */
 #info-section {
     margin: 30px 0;
 }

 .col-left,
 .col-right,
 .col-md {
     width: calc(100% / 3);
     padding: 10px;
 }

.col-left > img,
.col-right > img,
.col-md > img {
    height: 150px;
 } 

 .info-section-text > h2 {
     height: 100px;
     color: #7ebc07;
 }

.horizontal-line {
    display: inline-block;
    border-bottom: 1px solid grey;
    margin: 20px 0;
}

hr {
    margin: 0 auto;
    width: 98%;
    border: 1px solid lightgrey;
}

 /* Main - Sezione a due colonne */
#start-level,
#need-level {
    margin: 30px 0;
}

.start-level-img > img,
.need-level-img > img {
    padding: 30px;
}

.start-level-text,
.need-level-text {
    padding: 50px 60px;
}

/* Main - sezione banner grigio */
#banner-grey {
    height: 140px;
}

.banner-left {
    display: inline-block;
    line-height: 50px;
}

.banner-right a {
    line-height: 100px;
}

.banner-right > .list-style > li {
    color: grey;
}

.banner-right .list-style li:nth-child(2) {
    border-bottom: 1px solid grey;
}

i {
    padding-left: 30px;
}

/* Sezione - Singolo contenito */
#computer {
    margin: 150px 0 100px 0;
}

#computer  img {
   width: 80%;
}

#computer :nth-child(3) {
    font-size: 14px;
}

/* Sezione - Primo banner blu */
#first-banner-blue {
    height: 300px;
    padding: 30px;
    margin-bottom: 40px;
}

/* Sezione - Struttura un piano - tre colonne */
#section-plane {
    margin-bottom: 50px;
}
.plane-title {
    margin: 30px 0;
}

.pnale-h3 {
    font-size: 20px;
}

.col-plane-sx,
.col-plane-rx,
.col-plane-md {
    width: calc(100% / 3);
    padding: 10px;
}

.col-plane-sx > img,
.col-plane-rx > img,
.col-plane-md > img {
   height: 50px;
} 

.line {
    border: 2px solid;
    margin-bottom: 20px;
}
.green {
    color: #7cbb02;
}
.blue {
    color: lightskyblue;
}
.orange {
    color: orange
}

/* Footer */
footer {
    background-color: #17406b;
    height: 350px;
}

footer ul {
    list-style: none;
}
footer li {
    padding: 10px 0;
}
footer a,
.footer-indirizzi span {
    color: lightslategray;
}

.footer-indirizzi {
    display: inline-block;
    text-align: right;
}

.footer-indirizzi p:nth-child(2) {
    color: white
}


/* Pulsante Help */
#help {
    position: fixed;
    bottom: 2%;
    right: 15%;
}

