/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.container-70 {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
}
.btn-lg {
    text-decoration: none;
    padding: 20px 20px;
}

.bg-grey {
    background-color: #d1cece;
}

.title-h2 {
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}
.title-h2.green {
    color:  #73ac02;
}

.text-p {
    font-size: 20px;
    font-weight: 450;
    text-align: center;
}
.text-p.grey{
    line-height: 1.3;
    color: gray;
}

.hr-text {
    width: 15%;
    margin: 25px auto;
    text-align: center;
}


/* Header */
header {
    height: 550px;
    background-color: #4F82B5;
    background-image: url("../img/background-header.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 110% 105%;
}

.header-nav {
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.header-logo {
    width: 15%;
    height: 100%;
}
.header-logo img {
    vertical-align: middle;
}
.nav-center {
    width: 45%;
    height: 100%;
    text-align: left;
}
.header-btn {
    width: 40%;
    height: 100%;
    text-align: right;
}

/* Header-menu */
.list-inline {
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding: 0 10px;
}
.list-inline a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}
.list-inline a:hover:not(.btn) {
    color: #73ac02;
}

.btn.blue {
    background-color: #4F82B5;
}

.btn.green {
    border: 1px solid #73ac02;
    background-color: #73ac02;
}
.btn.green:hover {
    border: 1px solid white;
}
.btn.blue:hover {
    background-color: #73ac02;
}

/* Header-jumbotron */
.jumbotron {
    position: relative;
    width: 100%;
    height: 470px;
}
.jumbotron-text {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
}

/* main */
#main-title {
    width: 100%;
    height: 150px;
    position: relative; 
}
.main-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-text > h2 {
    line-height: 1.7;
}

/* main-info corso */
.main-section {
    margin: 40px 0;
}

.left-section,
.rigth-section {
    width: 33%;
}

.center-section {
    width: calc(34% - 40px);
    margin: 0 20px;
}

.box-img > img {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

/* main-Test */
#hr-section {
    width: 98%;
    border: 1px solid  #e0dede;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color:  #d1cece;
}

.section-test-img,
.section-test-text {
    width: 50%; 
}
.section-test-img > img {
    width: 100%;
}
.section-test-text {
    padding: 0 50px 0 80px;
}
.section-test-text > h2 {
    font-size: 35px;    
}.section-test-text > p {
    text-align: left;
    margin: 15px 0;
}

/* Footer */
footer {
    height: 180px;
    margin-top: 40px;
    line-height: 150px;
}

.footer-sx,
.footer-dx {
    width: 50%;
}

.footer-dx {
    text-align: right;
}

.footer-sx > h2 {
    vertical-align: middle;
    font-size: 30px;
}

#select {
    margin: 0 20px;
    border: none;
    background-color: #d1cece;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

label,
#select {
    color: grey;
}

.box-label a:nth-child(4) {
    position: fixed;
    bottom: 0;
    right: 15%;
    line-height: 1.1;
}